* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* root */
:root {
    --green: #14a800;
    --grey: #5e6d55;
    --l-green: #23c20e;
}

/* nav bar */
.nav-bar {
    /* background-color: aqua; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a9a5a5db;
}

.list-start {
    align-items: center;
    text-align: center;
}

.list-end {
    align-items: center;
    text-align: center;
}

.list {
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 5px;
    /* background-color: blue; */
}

.list:hover {
    color: var(--green);
}

.li {
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 5px;
    /* background-color: blue; */
    border-radius: 15px;
}

.three {
    background-color: var(--green);
    color: white;
}

.three:hover {
    background-color: var(--l-green);
}

/* list belownnav bar */
.li-2 {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
}

.li-2:hover {
    border-bottom: 1px solid var(--green);
    color: var(--green);
}

/* first pic */
.first-pic {
    display: flex;
    font-size: 20px;
    /* background-color: aqua; */
    width: 90%;
    height: 300px;
    margin: 0 auto;
    justify-content: space-between;
}

.text-1 {
    margin: 5px;
    padding: 10px;
}

.head {
    color: var(--green);
}

.para {
    color: var(--grey);
    margin-bottom: 20px;
}

.button {
    color: white;
    background-color: #14a800;
    border-radius: 20px;
    border-color: #14a800;
}

.button:hover {
    background-color: var(--l-green);
}

.img-1 {
    margin: 10px;
}

/* 2 box */
.head-3 {
    color: var(--grey);
}

.text-1 li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

/* 3 box */
.box-3 {
    display: flex;
    align-items: center;
    height: 370px;
    width: 90%;
    /* background-color: aqua; */
    margin: 0 auto;
    font-size: 150%;
}

.box-three1 {
    width: 50%;
    /* background-color: aliceblue; */
    height: inherit;
}

.three2 {
    margin: 15px;
    padding: 10px;
}

.text2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* box 4 */
.box-4 {
    width: 90%;
    height: 180px;
    margin: 0 auto;
    /* background-color: yellow; */
}

.box4-text {
    margin-top: 10px;
    margin-left: 10px;
}

.box4-text>p {
    color: var(--grey);
}

.box4-text a {
    color: var(--green);
}

.box4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 7px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.box4-small {
    /* background-color: aqua; */
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}
.box4-small:hover {
    background-color: var(--grey);
}