* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* root */
:root {
    --green: #14a800;
    --grey: #5e6d55;
    --l-green: #23c20e;
}

/* nav bar */
.nav-bar {
    background-color:white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a9a5a5db;
    position: fixed;
    z-index: 1000;
}

.list-start {
    align-items: center;
    text-align: center;
}

.list-end {
    align-items: center;
    text-align: center;
}

.list {
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 5px;
    /* background-color: blue; */
}

.list:hover {
    color: var(--green);
}

.li {
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 5px;
    /* background-color: blue; */
    border-radius: 15px;
}

.three {
    background-color: var(--green);
    color: white;
}

.three:hover {
    background-color: var(--l-green);
}

/* list belownnav bar */
.li-2 {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
}

.li-2:hover {
    border-bottom: 1px solid var(--green);
    color: var(--green);
}

/* first pic */
.first-pic {
    display: flex;
    font-size: 20px;
    /* background-color: aqua; */
    width: 90%;
    height: 300px;
    margin: 0 auto;
    justify-content: space-between;
}

.text-1 {
    margin: 5px;
    padding: 10px;
}

.head {
    color: var(--green);
}

.para {
    color: var(--grey);
    margin-bottom: 20px;
}

.button {
    color: white;
    background-color: #14a800;
    border-radius: 20px;
    border-color: #14a800;
}

.button:hover {
    background-color: var(--l-green);
}

.img-1 {
    margin: 10px;
}

/* 2 box */
.head-3 {
    color: var(--grey);
}

.text-1 li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

/* 3 box */
.box-3 {
    display: flex;
    align-items: center;
    height: 370px;
    width: 90%;
    /* background-color: aqua; */
    margin: 0 auto;
    font-size: 150%;
}

.box-three1 {
    width: 50%;
    /* background-color: aliceblue; */
    height: inherit;
}

.three2 {
    margin: 15px;
    padding: 10px;
}

.text2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* box 4 */
.box-4 {
    width: 90%;
    height: 180px;
    margin: 0 auto;
    /* background-color: yellow; */
}

#link {
    color: var(--l-green);
}

.box4-text {
    margin-top: 10px;
    margin-left: 10px;
}

.box4-text>p {
    color: var(--grey);
}

.box4-text a {
    color: var(--green);
}

.box4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 7px;
    grid-template-rows: 1fr 1fr;
}

.box4-small {
    /* background-color: aqua; */
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.box4-small:hover {
    background-color: var(--grey);
}

/* box 5 */
.box-5 {
    width: 90%;
    height: 370px;
    margin: 0 auto;
    margin-top: 55px;
    /* background-color: yellow; */
    background-image: url(images/box\ 5image.jpg);
    background-size: cover;
    border-radius: 8px;
    position: relative;

}

.text5 {
    color: white;
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 200%;
}

.five {
    background-color: var(--green);
    color: white;
    width: 25%;
    height: 131px;
    /* display: inline-block; */
    /* position: absolute; */
    bottom: 15px;
    margin-top: 102px;
    padding: 9px;
    margin: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.five1 {
    position: absolute;
    left: 15px;
    bottom: 25px;
}

.five2 {
    position: absolute;
    left: 410px;
    bottom: 25px;
}

.five3 {
    position: absolute;
    right: 15px;
    bottom: 25px;
}

.five:hover {
    background-color: white;
    color: var(--l-green);
}

/* box 6  */
.box-6 {
    width: 90%;
    height: 380px;
    margin: 0 auto;
    /* background-color: yellow; */
    position: relative;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.box6-1 {
    width: 50%;
    height: inherit;
    background-color: aliceblue;
    border-radius: 8px;
}

.item6 {
    /* list-style-image: url(images/list.png) ; */
    list-style: none;
    /* height: 10px;
width: 10px; */
    margin: 15px;
}

.text-6>h1 {
    margin: 15px;
    font-size: 200%;
}

/* .img6 {
    position: absolute;
    z-index: 1;
} */
.box6-2 {
    width: 50%;
    height: inherit;
    background-color: var(--green);
    border-radius: 8px;
}

.text6-2 {
    padding: 10px;
}

/* box 7 */
.box7 {
    /* background-color: aqua; */
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

#one7 {
    color: var(--l-green);
}

#two7 {
    color: var(--grey);
}

#two7:hover {
    color: var(--l-green);
}

.item7,
.item7-2 {
    color: var(--grey);
    list-style: none;
    margin-top: 5px;
}
.item7:hover,
.item7-2:hover {
    color: var(--l-green);
}

/* box 8 */
.box8 {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    border-radius: 8px;
}
.text8 {
    margin-top: 40px;
}
.text8>ul>li {
    list-style: none;
    margin-bottom: 10px
}

.text8>ul>li:hover {
    border-bottom: 2px solid white;
}